/*전체 css*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
/*전체에 적용*/
* {
  font-family : "Nanum Myeongjo", serif;
  /*background-color: #F1E4D1;*/
}
/*전체 페이지*/

html, body {
  margin:0;
  padding:0;
  height:100%;
}


/*버튼 왼쪽, 오른쪽+hover*/
.btnL {
  position: absolute;
  width: 5vh;
  left: 0px;
  transform:scaleX(-1);
  background-color: transparent;
  top: 45vh;
  z-index: 5;
}
.btnL:hover {
  width: 6vh;
}
.btnR {
  position: absolute;
  width: 5vh;
  right: 0px;
  background-color: transparent;
  top: 45vh;
  z-index: 5;
}
.btnR:hover {
  width: 6vh;
}


/*우측 상단 단축키 버튼*/
.shortcuts {
  position:relative;
  float: right;
  background-color: transparent;
  z-index: 2;
  right:1%;
  top:1%;
  width:5vh;
}