.inputWrap {
    display: flex;
    align-items: center;
    height: 4vh;
    width: 35vw;
    border-radius: 5px;
    padding: 15px;
    margin-top: 30px;
    background-color: #FFFAF3;
}

.bs-table {
    width: 100%;
    border-collapse: collapse;
}

.bs-table th, .bs-table td {
    padding: 10px;
    text-align: left;
}
.bs-table tbody tr:hover {
    background-color: #f4ebdc;
}

.bs-table .etc {
    display: flex;
    align-items: center;
    height: auto; /* Adjust height as needed */
    border-radius: 5px;
    padding: 15px;
    background-color: #FFFAF3;
}

.bs-table .img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto; /* Adjust height as needed */
    border-radius: 5px;
    padding: 15px;
    background-color: #FFFAF3;
}

.bs-modal {
    display: flex;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.bs-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: 900;
    padding: 5px;
}
.bs-input {
    width:50%;
    padding: 5px;
    padding-left:15px;
    margin: 15px;
    outline:none;
    border:none;
    border-radius: 5px;
    height : 3vh;
    background-color: #FFFAF3;
    vertical-align: center;
    font-size: 18px;
}

.bs-input:focus-within {
    border: 2px solid #DABF98;
}
.bs-btn {
    width: 15%;
    padding: 10px;
    border: none;
    font-size: 15px;
    font-weight: 700;
    border-radius: 40px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #DABF98;
    color:#562E12;
}
.bs-btn:hover {
    background-color: #744F36;
    color:#F9F0E3;

}

.bs-table {
    width: 100%;
    display: center;
}
.bs-table tr {
    display: absolute;
    padding: 10px;
}
.bs-table th {
    text-align: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.bs-table-category {
    width:10vw;
}
.bs-table-description {
    width: 20vw;
}
/* 모달 크기 */
.bs-modal-reason-content {
    background-color: #F9F3EB;
    color: #562E12;
    border-radius: 10px;
    text-align: center;
    margin: 15vh auto;
    padding: 30px;
    width: 50vw;
    height: 60vh;
    max-height: 80vh;
    overflow-y: auto;

}
.bs-modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.bs-modal-close:hover,
.bs-modal-close:focus {
    color: #562E12;
    text-decoration: none;
}
.bs-modal-body {
    display: flex;
    flex-direction: column;
}
.bs-book-image {
    width: 140px;
    height: 200px;
    background-color: #F9F0E3; /* 책 이미지가 없을 때 배경 색상 */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #562E12;
    border-radius: 5px;
    margin-right: 20px;
}
.bs-book-info {
    padding-left: 20px;
    text-align: left;
    flex-grow: 1;
}
.bs-book-reason {
    text-align: left;
    margin-top: 25px;
    width: 100%;
    font-size: 13px;
}
.bs-book-text {
    text-align: left;
    padding: 10px;
}
.bs-book-text p {
    font-size: 11px;
}
.bs-bottomButton {
    width: 100%;
    height: 6vh;
    border: none;
    font-size: 25px;
    font-weight: 800;
    border-radius: 40px;
    margin-top: 30px;
    cursor: pointer;
    background-color: #562E12;
    color: #F9F0E3;
}
.bs-bottomButton:disabled {
    background-color: #DABF98;
    color: #562E12;
}