/*장르 선택 모달 css*/
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #F9F3EB;
    color:#562E12;
    border-radius: 10px;
    text-align: center;
    margin: 25vh auto;
    padding: 40px 20px;
    width: 800px;
}

.modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.modal-close:hover,
.modal-close:focus {
color: #562E12;
text-decoration: none;
cursor: pointer;
}
.modal-genreBtn {
    color :#BDA594;
    background-color: #FFFAF3;
    width: 20vh;
    border: none;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    font-size: 1em;
    transition: background-color 0.3s;
  }
  .modal-genreBtn:hover {
    color :#F9F0E3;
    background-color: #744F36;
  }