<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>boardPaging</title>
</head>
<body>
<h2>인상깊은 구절 플로팅</h2>
<a href ="/board/bookSave">글작성</a>

<table>
    <tr>
    <!--<th>id</th>-->
        <th>phrase</th>
    <!--<th>title</th>-->
    <!--<th>writer</th>-->
    <!--<th>date</th>-->
    <!--<th>hits</th>-->
    </tr>
    <tr th:each="board: ${boardList}">
        <!--<td th:text="${board.id}"></td>-->
        <!--상세 정보 조회 시 페이지 정보를 가져감 -> 직전에 머물러 있었던 페이지로 돌아오기 위해-->
        <td><a th:href="@{|/board/${board.id}|(page=${boardList.number + 1})}" th:text="${board.boardPhrase}"></a></td>
        <!--<td th:text="${board.boardWriter}"></td>-->
        <!--<td th:text="*{#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>-->
        <!--<td th:text="${board.boardHits}"></td>-->
    </tr>
</table>
<!-- 첫번째 페이지로 이동 -->
<!-- /board/paging?page=1 요청과 같은 thymeleaf 문법-->
<a th:href="@{/board/paging(page=1)}">First</a>
<!-- 이전 링크 활성화 비활성화 -->
<!-- 서비스 메소드에서 boardList.getNumber() ex) 사용자:2페이지 -> getNumber()=1 -->
<a th:href="${boardList.first} ? '#' : @{/board/paging(page=${boardList.number})}">prev</a>


<!-- 페이지 번호 링크(현재 페이지는 숫자만)
        for(int page=startPage; page<=endPage; page++)와 같은 의미 -->
<span th:each="page: ${#numbers.sequence(startPage, endPage)}">
<!-- 현재페이지는 링크 없이 숫자만 -->
    <span th:if="${page == boardList.number + 1}" th:text="${page}"></span>
    <!-- 현재페이지 번호가 아닌 다른 페이지번호에는 링크를 보여줌 -->
    <span th:unless="${page == boardList.number + 1}">
        <a th:href="@{/board/paging(page=${page})}" th:text="${page}"></a>
    </span>
</span>


<!-- 다음 링크 활성화 비활성화
    ex) 사용자: 2페이지, getNumber: 1, 3페이지-->
<a th:href="${boardList.last} ? '#' : @{/board/paging(page=${boardList.number + 2})}">next</a>
<!-- 마지막 페이지로 이동 -->
<a th:href="@{/board/paging(page=${boardList.totalPages})}">Last</a>

</body>
<script>
</script>
</html>