<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category Search Result</title>
</head>
<body>

<h2>카테고리별 책 목록</h2>

<table>
    <tr th:each="book : ${books}">


        <!--        <h3 th:text="${book.bookTitle}"></h3>-->
        <!--        <p th:text="${book.bookAuthor}"></p>-->
        <td><a th:href="@{/board/{id}(id=${book.id})}" th:text="${book.boardPhrase}"></a></td>
        <!--        <img th:src="${book.bookImageURL}" style="max-width: 200px;"/>-->

    </tr>
</table>




</body>
</html>