<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>phraseUpdate</title>
</head>
<body>
<form action="/board/phraseUpdate" method="post" name="updateForm">
    <input type="hidden" name="id" th:value="${boardUpdate.id}">
<!--    수정하지 못하게 할 때 readonly-->
<!--pass: <input type="text" name="memberPassword" id="memberPassword"> <br>-->
    title: <input type="text" id="bookTitle" name="bookTitle" th:value="${boardUpdate.bookTitle}" > <br>
    writer: <input type="text" id="boardWriter" name="boardWriter" th:value="${boardUpdate.boardWriter}" readonly> <br>
    author: <input type="text" id="bookAuthor" name="bookAuthor" th:value="${boardUpdate.bookAuthor}" > <br>
    category: <input type="text" id="bookCategoryName" name="bookCategoryName" th:value="${boardUpdate.bookCategoryName}" > <br>
    bookURL: <input type="text" id="bookImageURL" name="bookImageURL" th:value="${boardUpdate.bookImageURL}" > <br>
    phrase: <input type="text" id="boardPhrase" name="boardPhrase" th:value="${boardUpdate.boardPhrase}"> <br>
    reason: <input type="text" id="boardReason" name="boardReason" th:value="${boardUpdate.boardReason}"> <br>
<!--    수정하지 않는 정보라도 hidden 으로 가지고 있어야 한다.-->
    <input type="hidden" name="boardHits" th:value="${boardUpdate.boardHits}">
    <input type="submit" value="글 수정">
</form>
<button onclick="window.open('/book', '책 검색', 'width=600,height=400')">책 검색</button>

<script>
</script>
</body>
</html>