<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>phraseList</title>
</head>
<body>
<h2>phraseList.html</h2>
<table>
    <tr>
<!--        <th>id</th>-->
<!--        <th>title</th>-->
<!--        <th>writer</th>-->
        <th>phrase</th>
<!--        <th>reason</th>-->
<!--        <th>date</th>-->
<!--        <th>hits</th>-->
    </tr>
    <!--th는 thymeleaf에서 제공하는 문법으로 foreach역할, tr까지 반복-->
    <tr th:each="board: ${boardList}">
<!--        <td th:text="${board.id}"></td>-->
<!--        <td th:text="${board.boardTitle}"></td>-->
<!--        <td th:text="${board.boardWriter}"></td>-->
        <td><a th:href="@{|/board/${board.id}|}" th:text="${board.boardPhrase}"></a></td>
<!--        <td th:text="${board.boardReason}"></td>-->
<!--        <td th:text="*{#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>-->
<!--        <td th:text="${board.boardHits}"></td>-->
    </tr>
</table>
</body>
</html>
