<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>phraseList</title>-->
<!--</head>-->
<!--<body>-->
<!--<h2>인상깊은 구절 플로팅</h2>-->
<!--<table>-->
<!--    <tr>-->
<!--&lt;!&ndash;        <th>id</th>&ndash;&gt;-->
<!--&lt;!&ndash;        <th>title</th>&ndash;&gt;-->
<!--&lt;!&ndash;        <th>writer</th>&ndash;&gt;-->
<!--        <th>phrase</th>-->
<!--&lt;!&ndash;        <th>reason</th>&ndash;&gt;-->
<!--&lt;!&ndash;        <th>date</th>&ndash;&gt;-->
<!--&lt;!&ndash;        <th>hits</th>&ndash;&gt;-->
<!--    </tr>-->
<!--    &lt;!&ndash;th는 thymeleaf에서 제공하는 문법으로 foreach역할, tr까지 반복&ndash;&gt;-->
<!--    <tr th:each="board: ${boardList}">-->
<!--&lt;!&ndash;        <td th:text="${board.id}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td th:text="${board.boardTitle}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td th:text="${board.boardWriter}"></td>&ndash;&gt;-->
<!--        <td><a th:href="@{|/board/${board.id}|}" th:text="${board.boardPhrase}"></a></td>-->
<!--&lt;!&ndash;        <td th:text="${board.boardReason}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td th:text="*{#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td th:text="${board.boardHits}"></td>&ndash;&gt;-->
<!--    </tr>-->
<!--</table>-->
<!--</body>-->
<!--</html>-->
