/*calendar chart css*/

.chart-container {
    display: flex;
    background-color: pink;
    border:3px solid red;
    justify-content: center;
    padding:60px 100px;

}
.calendar-chart-container {
    display: flex;
    flex-direction: column;
    background-color: #F9F3EB;
    justify-content: center;
    align-items: center;
    padding-right:50px;
    width: 100%;
    min-width: 500px;
    border:1px solid #744F36;
    border-radius: 5px;
    padding-bottom: 30px;

}
.calendar-chart-container h2 {
  align-content: left;
  padding-top: 30px;
}
